

.home__header{
	background: linear-gradient(130deg, rgba(118,45,149,1) 0%, rgba(26,26,64,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 2rem;
	height: 89.5vh;
}

.home__header-top{
	background-color: $primary-o;
	display: flex;
	position: absolute;
	top: 2rem;
	left: 2rem;
	font-size: 2.4rem;
	padding: 0.6rem 1.2rem;
	font-weight: bold;
	font-family: $font-title;

	box-shadow: $shadow-cool;
}

.home__header-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -1rem;

	img{
		width: 18rem;
	}

	h1{
		background-color: $primary-o;
		padding: 1rem 5rem;
		border: 2px solid $primary-l;
		box-shadow: $shadow-normal;
	}

}

.home__header-by{
	display: flex;
	grid-gap: 3rem;
	justify-content: space-between;
	width: 23rem;
	span{
		background-color: $primary-o;
		font-size: 1.6rem;
		width: 15rem;
		text-align: center;
		padding: 0.6rem 0;
		text-transform: uppercase;

		&:first-child{
			box-shadow: $shadow-cool;
		}
		&:last-child{
			box-shadow: $shadow-cool-invert;
		}
	}
}