

.home__header{
	background: linear-gradient(130deg, rgba(118,45,149,1) 0%, rgba(26,26,64,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 2rem;
	height: 90vh;
}

.home__header-top{
	background-color: $primary-o;
	display: flex;
	position: absolute;
	top: 2rem;
	left: 2rem;
	font-size: 2.4rem;
	padding: 0.6rem 1.2rem;
	font-weight: bold;
	font-family: $font-title;

	box-shadow: $shadow-cool;
}

.home__header-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -1rem;

	img{
		width: 18rem;
	}

	h1{
		background-color: $primary-o;
		padding: 1rem 6rem;
		border: 2px solid $primary-l;
		box-shadow: $shadow-normal;
	}

}

.home__header-by{
	display: flex;
	grid-gap: 3rem;
	justify-content: space-between;
	width: 25rem;
	span{
		background-color: $primary-o;
		font-size: 1.6rem;
		width: 15rem;
		text-align: center;
		padding: 0.6rem 0;
		text-transform: uppercase;

		&:first-child{
			box-shadow: $shadow-cool;
		}
		&:last-child{
			box-shadow: $shadow-cool-invert;
		}
	}
}

.home__articles{
	margin: 3rem 2rem;
}
.home__articles-title{
	font-size: 2.2rem;
	fill: $primary-xl;
	display: flex;
	align-items: center;
	box-shadow: $shadow-cool;
	padding: 0.7rem 2rem;
	display: flex;
	width: 19rem;
	margin-bottom: 3rem;

	box-icon{
		margin-right: 0.7rem
	}
}

.home__articles-article{
	background-color: $primary-o;
	display: flex;
	grid-gap: 2rem;
	border: 2px solid $primary-l;
	box-shadow: $shadow-normal;
	margin-bottom: 2rem;

	h3{
		margin-right: 2rem;
		margin-top: 1.5rem;
		font-weight: bolder;
	}
}
.home__articles-article-decoration{
	width: 5rem;
	height: 10rem;
	background-color: $primary-l;
	margin-left: 1.5rem;
}